.adiciona-produto {
    padding: 4rem 0;
}

.adicionar-produtos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.adc__botao {
    background-color: var(--azul);
    color: var(--branco);
    font-family: var(--raleway);
    padding:  1rem;
    text-align: center;
    text-decoration: none;
}

.adc__campo {
    border: none;
    border-bottom: 1px solid var(--cinzinha);
    display: flex;
    flex-direction: column;
}

.adc__campo--grow {
    height: 3.75rem;
}

.adc__dados {
    border: none;
}

.adc__dados::placeholder {
    color: var(--preto);
    font-family: var(--raleway);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

.adc__label {
    color: var(--cinzinha);
    font-family: var(--raleway);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
}

.adc__titulo {
    color: var(--preto);
    font-family: var(--raleway);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.botao__menu-adm {
    color: var(--azul);
    background-color: var(--branco);
    border: solid 1px var(--azul);
    font-family: var(--raleway);
    padding: 1rem 4rem;
    text-decoration: none;
}

@media screen and (min-width: 0px) {
    .adicionar-produtos {
        padding: 0  1rem;
     }
     .botao__menu-adm {
        font-weight: 600;
     }
}

@media screen and (min-width: 768px) {
    .adicionar-produtos {
        padding: 0  2rem;
     }
     .botao__menu-adm {
        font-weight: 600;
     }
}

@media screen and (min-width: 1020px) {
    .adicionar-produtos {
        padding: 0  25rem;
    }
    .botao__menu-adm {
        font-weight: 500;
    }
}