.barra__titulo {
    display: flex;
    justify-content: space-between;
}

.botao__adicionar-produto {
    color: var(--branco);
    background-color: var(--azul);
    font-family: var(--raleway);
    text-decoration: none;
    padding: 1rem;
}

.botao__ver-produto {
    color: var(--azul);
    font-family: var(--raleway);
    font-weight: 700;
    text-decoration: none;
}

.display {
    display: flex;
    gap: 1rem;
}

.produtos {
    background-color: var(--branco-gelo);
}

.produto__imagem {
    padding-bottom: 0.75rem;
    height: auto;
    width: auto;
}

.produto__titulo {
    font-family: var(--raleway);
    font-size: 0.875rem;
}

.produto__preco {
    font-family: var(--raleway);
    font-size: 1rem;
    font-weight: 700;
    padding: 0.45rem 0;
}

.vitrine {
    padding-bottom: 4rem;
}

.vitrine__titulo {
    color: var(--preto);
    font-family: var(--raleway);
    font-size: 2rem;
    font-weight: 700;
}

@media screen and (min-width: 0) {
    .barra__titulo {
        padding: 1rem 0;
    }
    .card {
        height: 15.8rem;
        width: 9.75rem;
    }
    .card--hide {
        display: none;
    }
    .display {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: space-around;
    }
    .produtos {
        padding: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .barra__titulo {
        padding-bottom: 1rem;
    }
    .card {
        height: 15.8rem;
        width: 10.3rem;
    }
    .card--hide {
        display: inline;
    }
    .display {
        flex-direction: row ;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
    }
    .produtos {
        padding: 2rem;
    }
}

@media screen and (min-width: 1020px) {
    .barra__titulo {
        padding-bottom: 1rem;
    }
    .card {
        height: 15.8rem;
        width: 11rem;
    }
    .card--hide {
        display: inline;
    }
    .display {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
    }
    .produtos {
        padding: 4rem 8rem 0 8rem;
    }
}